<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="inner-addon right-addon"></div>
      <input class="form-control input-lg" type="text" placeholder="start typing to add your beauty product...">
    </div>
  </div>
</div>