<!-- SEARCH BAR -->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="inner-addon right-addon"></div>
      <input class="form-control input-lg" type="text" placeholder="start typing to add your beauty product...">
    </div>
  </div>
</div>
<!-- END OF SEARCH BAR -->
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Products Factual API Test</h1>
  </div>
</div>