/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';
//Font from google Font
@import url(http://fonts.googleapis.com/css?family=Lato);

$maincolor: rgba(255, 255, 0,0.5);
$mainfont: 'Lato', sans-serif;
$basewidth: 600px;

body  {
  background-image: url(makeupcase.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#navbar {
    border-width: 0px;
    box-shadow: 0px 0px;
    background-color: rgba(255,255,255,0);
}
#signin {
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 20px;
}
span.glyphicon {
    font-size: 2em;
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}