<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag('product_search/find', method: :post) do %>
        <%= text_field_tag(:query, params[:query], :class => 'form-control input-lg', :placeholder => 'type your favorite product here')%>
      <% end %>
  </div>
</div>